.image1 {
float: left;
margin-left: 100;
margin-top: 200;
}

.image2 {
float: left;
margin-left: 100;
margin-top: 200;
position: relative;
}

.image3 {
float: right;
margin-left: 600;
margin-top: 400;
position: relative;
}

.image4 {
float: left;
margin-left: 600;
margin-top: 200;
position: relative;
}

.image5 {
float: left;
margin-left: 600;
margin-top: 600;
position: relative;

.copyright {
    color: white;
    font-size: 12px;
    float: top;
    margin-bottom: 300px;
}